{include file="common/top"}
{include file="common/header_top"}
{include file="common/menu"}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      
    </section>

    <!-- Main content -->
    <section class="invoice">
      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
              <a href="{:url('Jingpin/index')}" class="btn btn-warning">返回列表</a>
          </h2>
        </div>
        <!-- /.col -->
      </div>

      <!-- Table row -->
      <div class="row">
          <div class="box box-primary">
              <!-- /.box-header -->
              <!-- form start -->
              <form role="form" action="{:url('Jingpin/save')}" method="post" enctype="multipart/form-data">
                <div class="box-body">
                      <div class="form-group">
                          <label for="exampleInputEmail1">网站名称</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="网站名称" name="l_name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">网站地址</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="网站地址" name="l_url">
                          </div>
                          <div class="form-group">
                              <label for="exampleInputEmail1">LOGO图片</label>
                              <input type="file" class="form-control" id="exampleInputEmail1" placeholder="LOGO图片" name="l_pic">
                            </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">排序[数值越大，排序越靠前]</label>
                      <input type="number" class="form-control" id="exampleInputEmail1" placeholder="排序" name="l_sort" value="0">
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                  <button type="submit" class="btn btn-primary">添加网站</button>
                </div>
              </form>
            </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
  </div>
  <!-- /.content-wrapper -->
  {include file="common/footer"}