{include file="common/top"}
{include file="common/header_top"}
{include file="common/menu"}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="invoice">
        <div class="row">
          <div class="callout callout-success">
            <h4>欢迎访问!</h4>

            <p>网址导航管理后台，使用过程中如有问题，请联系QQ群：648120877.</p>
          </div>
          </div>
      
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
  </div>
  <!-- /.content-wrapper -->
  {include file="common/footer"}