<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="__STATIC__/index/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="__STATIC__/index/favicon.ico" />
    <!-- Generated: 2018-04-06 16:27:42 +0200 -->
    <title>{$sys_info.title}-零广告，零插件的纯净版网址导航</title>
    <script src="__STATIC__/index/assets/js/require.min.js"></script>
    <script>
      require.config({
         shim: {
         'bootstrap': ['jquery'],
         'sparkline': ['jquery'],
         'tablesorter': ['jquery'],
         'vector-map': ['jquery'],
         'vector-map-de': ['vector-map', 'jquery'],
         'vector-map-world': ['vector-map', 'jquery'],
         'core': ['bootstrap', 'jquery'],
         },
         paths: {
         'core': '__STATIC__/index/assets/js/core',
         'jquery': '__STATIC__/index/assets/js/vendors/jquery-3.2.1.min',
         'bootstrap': '__STATIC__/index/assets/js/vendors/bootstrap.bundle.min',
         'sparkline': '__STATIC__/index/assets/js/vendors/jquery.sparkline.min',
         'selectize': '__STATIC__/index/assets/js/vendors/selectize.min',
         'tablesorter': '__STATIC__/index/assets/js/vendors/jquery.tablesorter.min',
         'vector-map': '__STATIC__/index/assets/js/vendors/jquery-jvectormap-2.0.3.min',
         'vector-map-de': '__STATIC__/index/assets/js/vendors/jquery-jvectormap-de-merc',
         'vector-map-world': '__STATIC__/index/assets/js/vendors/jquery-jvectormap-world-mill',
         'circle-progress': '__STATIC__/index/assets/js/vendors/circle-progress.min',
         }
         });
     </script>
    <!-- Dashboard Core -->
    <link href="__STATIC__/index/assets/css/dashboard.css" rel="stylesheet" />
    <script src="__STATIC__/index/assets/js/dashboard.js"></script>
  </head>